# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.patch

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# user define here
*.builtin
.config
.tmp_vmlinux*
.version
*.S
*Image
# special file 
trunk/mpp/extdrv/btn_drv/btn_drv_test
trunk/mpp/extdrv/led_drv/led_drv_test
trunk/cp_to_rftp.sh
trunk/mpp/sample/phidi/phidi
trunk/record/mp4file
trunk/osdrv
trunk/output/
trunk/mpp/extdrv/tp2823/
trunk/mpp/sample/audio/
trunk/mpp/sample/hifb/
trunk/mpp/sample/it/
trunk/mpp/sample/ive/
trunk/mpp/sample/region/
trunk/mpp/sample/tde/
trunk/mpp/sample/vda/
trunk/mpp/sample/vdec/
trunk/mpp/sample/venc/
trunk/mpp/sample/vio/
trunk/mpp/tools/
trunk/drv/